###############################################################################
# Copy this file to /etc/systemd/system/kodi-led.service
#
# systemctl enable kodi-led
# systemctl start kodi-led
#
# Borrowed from: https://unix.stackexchange.com/questions/41252/how-to-start-a-perl-webserver-with-systemd
###############################################################################

[Unit]
After=network.service

[Service]
ExecStart=/home/osmc/Arduino-Kodi-Elapsed/kodi-led-service.pl
User=osmc
Restart=on-failure

[Install]
WantedBy=multi-user.target
